.deleteIcon:hover, .editIcon:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.4);
    transition: .1s;
}

.confirmIcon:hover{
    color: green;
    transform: scale(1.4);
    transition: .1s;
}

li:hover, li div label{
    cursor: pointer;
    filter: brightness(90%);
}

.deleteIcon, .editIcon, .confirmIcon{
    position: absolute;
}

.deleteIcon{
    right: 20px;
}

.editIcon, .confirmIcon{
    right: 50px;
}

.bg-my-dark {
    background-color: #323436;
    border: none;
    color: white;
}

.bg-my-grey {
    background-color: #acacac;
}
